<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Dados do Agente</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid bgcinza">

        <%- include('parts/menu_logado.ejs') %>

            <div class="row ">
                <div class="padding">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10" style="background-color: white;" style="max-height: 400px; height: 100%;">

                    <div class="row">
                        <div class="consultar_bg">
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h3 class="centro">Dados do Agente de Vendas</h3>
                        </div>


                        <div class="montanha2">
                        </div>
                        <div class="col-sm-4">
                        </div>

                       
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4" style="height: 350px;">

                            <h3 class="">Nome</h3>
                            <p class="font22">
                                <%=membro["nome"]%>
                            </p>

                            <h3 class="">Email</h3>
                            <p class="font22">
                                <%=membro["email"]%>
                            </p>

                            <h3 class="">CPF</h3>
                            <p class="font22">
                                <%=membro["cpf"]%>
                            </p>

                            <h3 class="">RG</h3>
                            <p class="font22">
                                <%=membro["rg"]%>
                            </p>
                        </div>
                        <div class="col-sm-4">

                        </div>


                        
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-2">

                            <div id="btnCadastrar" class="centro button">

                                <img class="icon" src="/images/send.svg" alt="icon">

                            </div>

                        </div>
                        <div class="col-sm-5">

                        </div>
                    </div>

                </div>
                <div class="col-sm-1">
                </div>
            </div>


            <div class="padding"></div>

            <%- include('parts/footer.ejs') %>
    </div>


</body>

</html>